
*{
    margin: 0;
    padding: 0;
  }
  .mainNavbar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .navbar {

  background-color: rgb(0, 38, 49);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
 
  .logoimage{
    width: 140px;
    height: 70px;
    margin-left: 2%;
  }
  .middlebar {
     width: 52vw
    
  }
  .inputbox{
    border-radius:  16px;
    width: 100%;
    margin-right: 10vw;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px; 

  }
  .leftbar { 
    display: flex;
    align-items: center;
    width: 50%;
    height: 80px;
  } 
  .rightbar{
     align-items: center;
    display: flex;
    column-gap: 5vw;

    width:88%;
    margin-left: 2rem; 
   } 
   .flexbar{
    display: flex;
    color: white;
  }
  .flexbar Text{
    margin-top:  90px; 
   }
  .secondiv{
    background: rgb(250, 247, 247);
    height: 50px;
    width: 100%;
    display: flex;
    padding-top: 9px;
  }
  .secondiv:hover{
    color: rgb(128, 5, 145);
  }
  .sum{
    font-size: 16px;
  }

  @media screen and (max-width: 900px) and (min-width: 600px) {
    .sum {font-size: 12px};
    #secondiv{
      height: 50px;
      width: 40%;
      display: flex;
      gap: 1px;
      padding-top: 7px;
      font-size: small;
      
    }
    .middlebar {
      width: 30%;
     margin-left: -25%;
     display: none;
   }
   .rightbar{
     align-items: center;
    display: flex;
    column-gap: 60px;
    margin-right: 5px; 
   } 
   .logoimage{
    width: 48px;
    height: 48px;
    margin-left: 2%;
  }
}
  