.imageDiv{
    width: 50%;

}

.imagetag{
    height: 37.4rem;
    width: 100%;
}
.formDiv{
    /* display: flex; */
    justify-content: center;
    margin: auto;
    /* text-align: center; */
    /* align-items: center; */
    /* align-content: center; */
}